<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Connexion au portail</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="https://mspr-02.salombo.eu/css/success.css" rel="stylesheet" id="custom-css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    <div class="wrapper fadeInDown">
        <h1>Vous vous êtes correctement connecté au portail !</h1>
        <br />
        <a th:href="@{'https://mspr-02.app.salombo.eu/?token=' + ${token}}" class="fadeIn fourth">Se diriger vers mon espace sécurisé</a>
    </div>
    </body>
</html>